td{
    height:15px;
    width:7px;
}
table{
    display:inline-block;
    border-radius:15px;
}
main{
    text-align:center;
}
body{
    color:white;
    background-color:black;
    padding:0 auto;
}