nav a:hover, #currentPage{ /*pseudo class*/
    background-color: pink;
    font-size:2em;
    transition:.4s;
}
table{
    margin: 0 auto;
    width:900px;
    height:150px;
    font-size:10pt;
}

.boldText{
    font-weight:bold;
}

figure {
    float:center;
    text-align:center;
}
figure img{
    border-radius:20px;
    border: solid 2px black;
}

.colorRed{
    color:red;
}
.colorGreen{
    color:green;
}
