h1{
    text-align:center;
}
nav a{
    padding:20px;
    padding-bottom:4px;
    color: black;
    font-size:1.8em;
    background-color: white;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
main, nav, footer{
    width:960px;
    margin:0 auto; /* This aligns the section in the center -- CSS commenting method */
}
footer{
    text-align:center;
}
body{
    padding-top:40px;
    font-family:Verdana, Arial, Georgia;
    background-color: white;
}
main{
    padding-top:20px;
    padding-bottom:20px;
}
table{
    margin: 0 auto;
    width:900px;
    height:150px;
    font-size:10pt;
}

.boldText{
    font-weight:bold;
}

